<div class="chat-messages">
    <div class="chat-messages-show-container" id="chat">
      <ul class="chat-messages-show-list" id="message-list">
          <li *ngFor="let message of messages">
            <img src='assets/{{ message.img }}' width='50' height='60'>
            <p class="message_username">{{ message.username }}</p>
            <p class="message_content">{{ message.message }}</p>
          </li>
      </ul>
    </div>
    <div class="chat-messages-create-container"> 
      <input class="chat-messages-create-input" type="text" [hidden]="!this.inPM" placeholder="Type Username here" id="entername" #entername>
      <input class="chat-messages-create-input" type="text" placeholder="Type Message here" id="enter" #message>
      <button class="chat-messages-create-button" (click)="sendMessage()" id="send"> Send </button>
      <button class="chat-messages-create-button" (click)="leaveRoom()"> Leave Room </button>
    </div>
    <div><p style="margin-left: 10px; padding-bottom: 10px;">aaaaaaaaaaaais typing</p></div>
    <div></div>
</div>