<!-- <mat-list>
    <mat-list-item> Pepper </mat-list-item>
    <mat-list-item> Salt </mat-list-item>
    <mat-list-item> Paprika </mat-list-item>
   </mat-list> -->
<div class="container">
    <h2>Create new room</h2>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Room Name" name="roomname" #room>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="createRoom()">Create Room</button>
    <h2>Add/Change Avatar</h2>
    <!-- <form onsubmit="return false;"> -->
    <!-- <mat-form-field>
        <ngx-mat-file-input accept="image/*">
        </ngx-mat-file-input>
    </mat-form-field> -->
    <input type="file" name="image" (change)="selectImage($event)" />
    <button type="button" (click)="onSubmit()">Upload</button>
    <!-- </form> -->
</div>

<hr>
<div class="container">
    <h2>Join existing room(s)</h2>
    <mat-nav-list>
        <div *ngFor="let link of links">
            <a mat-list-item (click)="joinRoom(link)"> {{ link }} </a>
            <mat-divider></mat-divider>
        </div>
    </mat-nav-list>
</div>